/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Slabo27px-Regular';
    src: url('../fonts/Slabo27px-Regular.ttf') format('truetype');
}

/*html { overflow-y: hidden; }*/

body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: text; /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: Arial, Helvetica;
    background-image: url('../img/bgv3.png');
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family:Raleway-Bold;
    text-align: justify;
    color: rgb(0, 0, 0);
}

.res-img {
    -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.5);
    -moz-box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.5);
    box-shadow: 0px 0px 30px 6px rgba(255,255,255,0.5);
    width:250px;
}

/* Title */

#logo { float: left; margin:5px; }
#title { float: right; font-size:2em; color:#57666B; font-family:Slabo27px-Regular; margin-right:1px; margin-top:38px;}
#description { text-align:center; }
 
/* Sections */

#header { min-height:150px; }
.section { background-color: rgba(212, 198, 207, 0.70); margin:10px; padding:20px; border-radius:5px; }
.result { background-color: rgba(157, 183, 184, 0.90); padding: 30px; margin:auto; margin-left: -40px; margin-bottom:10px; list-style-type:none;}

/* Main page */

button { border: none; background-color: rgb(0, 0, 0); padding: 10px; min-width:45%; color:rgb(245, 226, 226); font-weight:bold}
.center { text-align:center; margin:auto; }
#take-picture { float:right; }

/* List of items */

/*#font-items li { list-style-type: none; border-bottom: 1px solid rgb(0, 0, 0)  }*/

/* Textboxes in list of items */

.item-text:focus, .item-text:hover { border-color: #aaa; background-color: #FFC; }

/* Footer */
footer { text-align: center; font-size: 0.8em; margin-top: 20px; }
footer a { color: #666; display: block; }
#errorlog { color: red; font-weight: bold; padding: 8px; display: inline-block; text-align: left; margin-left: 10px;}

